body{margin:0px;}
.form{
	position: absolute;
	width: 100%;
	height: 100%;
}
html {
  height: 100%;
  background-color:yellow;
  font-family: 'Roboto', sans-serif;
}

.slideshow {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  
}
  
  
  .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }
  
  .item {
    height:100%;
    position: relative;
    z-index: 1;
  }
    img {
      width: 100%;
	  height:46.8vw;
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transform: scale(1);
    }
    
    &.slick-active img {
      transform: scale(1);
    }
  }
}