body{margin:0px;}
.form{
	position: absolute;
	width: 100%;
	height: 100%;
}


.slideshow {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color:#333;
  overflow: hidden;
}
  
  
  .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }
  
  .item {
    height:100%;
    position: relative;
    z-index: 1;
  }
  .img_back {
      width: 100%;
	  height:46.8vw;
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transform: scale(1);
	  object-fit: cover;
   }
    
  &.slick-active img {
      transform: scale(1);
  }
  
  .slider_mask{
	  position:absolute;
	  z-index: 2;
	  height: 100%;
      width: 100%;
	  background-image: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(255,255,255,0));
	  opacity: 1; 
	  top:0;
	  left:0;
  }
  .slider_auto_head{
	  position:absolute;
	  z-index:3;
	  color:white;
	  text-decoration: none;
  }
  
  .menu {
   text-align: right;
   
	    
}
.hr_left{
	position:absolute;
	width:39vw;
	margin-top:2.2vw;
	border: none; 
    background-color: #5b4b41; 
    color: #5b4b41; 
    height: 0.5px;
}
.hr_right{
	position:absolute;
	width:42.85vw;
	margin-top:2.2vw;
	margin-left:57vw;
	border: none; 
    background-color: #5b4b41; 
    color: #5b4b41; 
    height: 0.5px;
	
}
.menu__links{
	position:absolute;
	top:2.6vw;
	width:100vw;
	left:0vw;
	text-align: center;
	
}
.slider_auto_logo{
	position:relative;
	top:-1.5vw;
	height:5vw;
	text-align:center;
	padding-left:1vw;
	padding-right:2vw;
	font-size:4vw;
	margin-left:0.8vw;
}
.slider_auto_logo_text{
	height:4vw;
	width:16vw;
	margin-left:0vw;
}
.menu__links-item {
    display: inline-block;
    color: #fdfdfd;
    font-family:'Lexend Exa', sans-serif;
    font-size: 1vw;
    line-height: 0.5vw;
    padding: 1vw 0.4vw;
    text-transform: uppercase;
    text-decoration: none;
	vertical-align:top;
}

.menu__links-item:hover {
    text-decoration: none;
	color:#bfbebe;
}
.menu__icon {
    display: none;
    width: 50px;
    height: 50px;
	margin-top:200px;
	left:85vw;
    position: relative;
    cursor: pointer;
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transform: scale(1);
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 60px;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
	padding:2px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 180px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;  
}
.auto_logo_adaptive{
	display:none;
}
.slider_auto_bottom_text{
	 display:block;
	position:absolute;
	z-index:5;
	width:100%;
	text-align:center;
	color:#ffffff;
	margin-top:41vw;
	font-family: 'Questrial', sans-serif;
}
.prestigious{
	font-size:2.1vw;
}
.made_in_italy{
	font-size:1.1vw;
}
@media screen and (max-width: 999px) {
	  .menu__icon{
		display: inline-block;
	  }
	  .slider_auto_logo{
		display: none;
		padding:0;
	}
	  .menu__links {
		position: fixed;
		display: none;
		right: 0;
		left: 0;
		margin-top: 290px;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 1000;
		overflow: auto;
		height:58vw;
	  }
	  
	  .menu__links-item {
		display: block;
		padding: 3vw 0;
		text-align: center;
		color: #ffffff;
		font-size:3vw;
	  }
	  .hr_left{
		display:none;
	  }
	.hr_right{
		display:none;
	}
	.slideshow {
	  position: fixed;
	  z-index: 1;
	  height:150vw;
	  background-color:#333;
	  overflow: hidden;
	  
	}
	  .slider-track {
		transition: all 2s cubic-bezier(0.7, 0, 0.3, 1);
	  }
	  
	  .item {
		height:100%;
		position: relative;
		z-index: 1;
	  }
	  .img_back{
		object-fit: cover;
height:150vw;
display:block;
	   }
		
		&.slick-active img {
			transform: scale(1);
		}
	  
		.slider_mask{
			position:absolute;
			z-index: 2;
			height: 100%;
			background-image: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(255,255,255,0));
			opacity: 1; 
			top:0;
			left:0;
		 }
		.auto_logo_adaptive{
			display:block;
			position:absolute;
			z-index:5;
		}
		.img_logo_adaptive{
			position:absolute;
			margin-top:30px;
			margin-left:170px;
			height:850%;
		}
		.img_logo_text_adaptive{
			position:absolute;
			margin-top:180px;
			margin-left:70px;
			height:600%;
		}
		.slider_auto_bottom_text{
			display:block;
			position:absolute;
			z-index:5;
			width:100%;
			text-align:center;
			color:#ffffff;
			margin-top:125vw;
			font-family: 'Questrial', sans-serif;
		}
		.prestigious{
			font-size:6vw;
		}
		.made_in_italy{
			font-size:4vw;
		}
}
  
