body{margin:0px;}
@media (min-width: 768px){
	caption {
	  padding: 1vw;
	  color: white;
	  background: #646464;
	  font-size: 1.5vw;
	  text-align: left;
	  font-weight: bold;
	}
	td {
	  padding: 1vw;
	}
	tr:nth-child(odd) {
	  background: white;
	}
	tr:nth-child(even) {
	  background: white;
	}
	tr:hover {
	  background: #E8E6D1;
	}
	.ALL{
		position:absolute;
		width:100%;
	}
	.Top_content{
		position:relative;
		background-size:cover;
		width:100%;
		height:43vw;
	}
	.back_content{
		position:fixed;
		background-image:url(images/back_image.png);
		background-size:cover;
		width:100%;
		height:43vw;
	}
	.darkness{
		position:fixed;
		width:100%;
		height:100%;
		background-color:#000000;
		opacity: 0.3;
	}
	.top_name{
		position:fixed;
		width:100%;
		height:6vw;
		background-color:#ffffff;
		z-index:2;
		
	}
	.top_menu{
		position:absolute;
		width:100%;
		height:2.5vw;
		background-color:#000000;
		box-shadow: 0 0 2px rgba(0,0,0,1);
	}
	.menu{
		position:absolute;
		margin-top:0.1vw;
		left:26vw;
		z-index:5;
	}
	.menu_link{
		text-decoration:none;
		color:#ffffff;
		margin-right:1.1vw;
		font-size: 1.1vw;
		font-family: 'Roboto Condensed', sans-serif;
		padding: 0.5vw 1.1vw;
		text-align: center;
		display: inline-block;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
	}
	.menu_link:hover{
		text-decoration:none;
		color:#ffffff;
		margin-right:1vw;
		font-size: 1.1vw;
		font-family: 'Roboto Condensed', sans-serif;
		padding: 0.5vw 1.1vw;
		text-align: center;
		display: inline-block;
		background-color:grey;
		opacity:0.7;
		border-radius: 100%;
	}
	.KR{
		position:fixed;
		background-color:#000000;
		width:6.5vw;
		height:5.5vw;
		top:2vw;
		left:15vw;
		z-index:4;
		color:#ffffff;
		font-family: 'Lobster', cursive;
		font-size:4vw;
		text-align:center;
		box-shadow: 0 0 2px rgba(0,0,0,1);
	}
	.logos{
		position:fixed;
		top:1vw;
		left:73vw;
		z-index:4;
		background-color:#ffffff;
		height:2.5vw;
		border-radius:100%;
		border-style: solid;
		border-color: #ffffff;
		border-width:0.2vw;
	}
	.Who_am_i_div{
		position:fixed;
		width:100%;
		top:2.5vw;
		height:3.5vw;
		z-index:3;
		background-color:#ffffff;
		box-shadow: 0 0 10px rgba(200,200,200,0.5);
	}
	.Who_am_i{
		position:absolute;
		top:0.8vw;
		left:27vw;
		height:3.5vw;
		color:#000000;
		font-size:1.5vw;
		font-family: 'Roboto Condensed', sans-serif;
	}
	.white_div_on_img{
		position:relative;
		width:100%;
		height:7vw;
		background-color:#ffffff;
		top:30vw;
		box-shadow: 0 0 2px;
	}
	.my_photo{
		position:relative;
		height:17vw;
		top:-13.5vw;
		left:15vw;
		border-style: solid;
		border-color: #ffffff;
		border-width:0.6vw;
		box-shadow: 0 0 2px  rgba(200,200,200,0.5);
	}
	.text_near_myphoto{
		position:absolute;
		top:-0.1vw;
		left:30vw;
		line-height:0.3;
		font-family: 'Cabin', sans-serif;
		font-size:1.2vw;
	}
	.about_me{
		position:relative;
		width:100%;
		height:28vw;
		margin-top:-6vw;
		font-family: 'Cabin', sans-serif;
		font-size:1.5vw;
		background-color:#E8E6D1;

	}
	.table_about{
		position:relative;
		top:0vw;
		left:15vw;
		width:70vw;
		font-size:1.1vw;
	}
	.paragraph{
		font-size:1.5vw;
	}
	.div_portfolio{
		position:relative;
		width:100%;
		
		background-color:#ffffff;
		font-family: 'Cabin', sans-serif;
	}
	.project_div{
		position:relative;
		top:1vw;
		left:15vw;
		width:70vw;
		font-family: 'Cabin', sans-serif;
		font-size:1.5vw;
	}
	.projects{
		position:relative;
		left:14vw;
		margin-top: 2vw;
		width:70vw;
		font-size:1.2vw;
		padding: 1vw;
	}
	.projects:hover{
		position:relative;
		left:14vw;
		margin-top: 2vw;
		width:70vw;
		font-size:1.2vw;
		background-color: #d5bbbb;
		box-shadow: 0 0 2px;
	}
	.project_img{
		position: relative;
		height:8vw;
		border-style: solid;
		border-color: #646464;
		border-width:0.1vw;
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;
	}
	.project_img:hover{
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
 }
	.project_text{
		position:absolute;
		top:-1vw;
		left:20vw;
	}
	.project_link{
		text-decoration:none;
		color:black;
	}
	.project_link:hover{
		text-decoration:none;
		color:#0b2c55;
	}
	.contacts{
		position:relative;
		width:100%;
		font-family: 'Montserrat', sans-serif;
		font-size:1.3vw;
		background-color:#E8E6D1;

	}
	.contact_inf{
		position:relative;
		margin-left:23vw;
		margin-top:3vw;
		bottom:3vw;
	}
	.footer{
		position:relative;
		width:100%;
		height:4vw;
		text-align:center;
		background-color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:1vw;
	}
}
@media (max-width: 767px){
	.ALL{
		position:absolute;
		width:100%;
	}
	.Top_content{
		position:relative;
		background-size:cover;
		width:100%;
		height:67vw;
	}
	.back_content{
		position:fixed;
		background-image:url(images/back_image.png);
		background-size:cover;
		width:100%;
		height:67vw;
	}
	.darkness{
		position:fixed;
		width:100%;
		height:100%;
		background-color:#000000;
		opacity: 0.3;
	}
	.top_name{
		position:absolute;
		width:100%;
		height:10vw;
		background-color:#ffffff;
		z-index:2;
	}
	.top_menu{
		position:absolute;
		width:100%;
		height:10vw;
		background-color:#000000;
		box-shadow: 0 0 2px rgba(0,0,0,1);
	}
	.menu{
		position:absolute;
		margin-top:0.1vw;
		left:26vw;
		z-index:5;
		display:none;
	}
	.menu_link{
		text-decoration:none;
		color:#ffffff;
		margin-right:1.1vw;
		font-size: 1.1vw;
		font-family: 'Roboto Condensed', sans-serif;
		padding: 0.5vw 1.1vw;
		text-align: center;
		display: inline-block;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
		display:none;
	}
	.KR{
		position:absolute;
		background-color:#000000;
		width:10vw;
		height:7vw;
		top:1vw;
		left:13vw;
		z-index:4;
		color:#ffffff;
		font-family: 'Lobster', cursive;
		font-size:6vw;
		text-align:center;
		box-shadow: 0 0 2px rgba(0,0,0,1);
	}
	.logos{
		position:absolute;
		top:1vw;
		left:78vw;
		z-index:4;
		background-color:#ffffff;
		height:2.5vw;
		border-radius:100%;
		border-style: solid;
		border-color: #ffffff;
		border-width:0.2vw;
		height:6vw;
	}
	.Who_am_i_div{
		position:absolute;
		width:100%;
		top:2.5vw;
		height:3.5vw;
		z-index:3;
		background-color:#ffffff;
		box-shadow: 0 0 10px rgba(200,200,200,0.5);
	}
	.Who_am_i{
		position:absolute;
		top:0.1vw;
		left:29vw;
		height:5vw;
		color:#000000;
		font-size:3vw;
		font-family: 'Roboto Condensed', sans-serif;
	}
	.white_div_on_img{
		position:relative;
		width:100%;
		height:25vw;
		background-color:#ffffff;
		top:65vw;
		box-shadow: 0 0 2px;
	}
	.my_photo{
		position:relative;
		height:43vw;
		top:-33vw;
		left:15vw;
		border-style: solid;
		border-color: #ffffff;
		border-width:0.6vw;
		box-shadow: 0 0 2px  rgba(200,200,200,0.5);
	}
	.text_near_myphoto{
		position:absolute;
		top:0vw;
		left:50vw;
		line-height:0.3;
		font-family: 'Cabin', sans-serif;
		font-size:3vw;
	}
	.about_me{
		position:relative;
		width:100%;
		margin-top:13vw;
		font-family: 'Cabin', sans-serif;
		font-size:1.5vw;
		background-color:#e8e3e3;

	}
	caption {
	  padding: 1vw;
	  color: white;
	  background: #646464;
	  font-size: 2.3vw;
	  text-align: left;
	  font-weight: bold;
	}
	td {
	  padding: 1vw;
	}
	tr:nth-child(odd) {
	  background: white;
	}
	tr:nth-child(even) {
	  background: white;
	}
	tr:hover {
	  background: #e8e3e3;
	}
	.table_about{
		position:relative;
		margin-top:1vw;
		left:4vw;
		width:92vw;
		font-size:2vw;
		bottom:1vw;
	}
	.paragraph{
		font-size:1.5vw;
	}
	.div_portfolio{
		position:relative;
		width:100%;
		background-color:#ffffff;
		font-family: 'Cabin', sans-serif;
	}
	.project_div{
		position:relative;
		top:1.5vw;
		left:3vw;
		width:70vw;
		font-family: 'Cabin', sans-serif;
		font-size:2.5vw;
	}
	.projects{
		position:relative;
		left:4vw;
		margin-top: 2vw;
		width:89vw;
		font-size:2.2vw;
		padding: 1vw;
	}
	.projects:hover{
		position:relative;
		left:4vw;
		margin-top: 2vw;
		width:89vw;
		font-size:2.2vw;
		background-color: #d5bbbb;
		box-shadow: 0 0 2px;
	}
	.project_img{
		position: relative;
		height:16vw;
		border-style: solid;
		border-color: #646464;
		border-width:0.1vw;
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;
	}
	.project_img:hover{
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
 }
	.project_text{
		position:absolute;
		top:0vw;
		left:38vw;
	}
	.project_link{
		text-decoration:none;
		color:black;
	}
	.project_link:hover{
		text-decoration:none;
		color:#0b2c55;
	}
	.contacts{
		position:relative;
		width:100%;
		font-family: 'Montserrat', sans-serif;
		font-size:2.3vw;
		background-color:#e8e3e3;
	}
	.contact_inf{
		position:relative;
		margin-left:20vw;
		margin-top:3vw;
		bottom:3vw;
	}
	.footer{
		position:relative;
		width:100%;
		height:6vw;
		text-align:center;
		background-color:#ffffff;
		font-family:'Montserrat', sans-serif;
		font-size:1.7vw;
	}
}
	
	
	
	
	
	
	
	
	